@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>We Love to Hear from You</h3>

<address>
    9201 University City Blvd<br />
    Charlotte, NC 28223<br />
    <abbr title="Phone">Phone:</abbr>
    704.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@FindYourCar.com">Support@FindYourCar.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@FindYourCar.com">Marketing@FindYourCar.com</a>
</address>